<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Service</h1>
    <div class="col-6 offset-3">
        <form action="/services/<%=service._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="service[title]" 
                value="<%=service.title %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="service[location]"
                value="<%=service.location %>" required>
            </div>
            
            <label class="form-label" for="image">Add Images</label>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image" multiple>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Service Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="service[price]" value="<%=service.price %>" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                name="service[description]" required><%= service.description%></textarea>
            </div>

            <% service.images.forEach((img,i) =>{ %>
            <div class="mb-3">
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>" id="image-<%= i %>">
                    </div>
            </div>
            <% }) %> 

            <div class="mb-3">
                <button class="btn btn-info">Update Service</button>
            </div>
        </form>
        <a href="/services/<%= service._id%>">Back To Service</a>

    </div>
</div>
